// Main Theme Button Style

#content .btn {
    background-color: #424143;
    color: #ececec;
    cursor: pointer;
    transition: all 0.6s;
    display: block;
    padding: 0.125em 1.75em;
    font-family: 'Playfair Display';
    font-size: calc(max(16px, min(2.5vw, 19px)));
    border-radius: 7px;

    &:hover {
        background-color: #ececec;
        color: #424143;
    }
}

// Extra Button Styles - Can be used for a simple link that is not formatted as buttons

.simple-link {


    &:hover {}
}